.Skeleton {
  background-color: var(--skeleton-background);
  border-radius: var(--skeleton-radius);
  animation: skeleton-pulse 1.5s ease-in-out infinite;
}

.Skeleton[data-circle] {
  border-radius: var(--radius-full);
}

@keyframes skeleton-pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
