.FieldError {
  display: flex;
  align-items: center;
  gap: var(--field-error-gap);
  color: var(--field-error-color);
  font-size: var(--field-error-font-size);
  line-height: var(--field-error-line-height);
  text-align: left;
}

.FieldError:first-of-type {
  margin-top: var(--field-error-margin-top);
}

.FieldError:last-of-type {
  margin-bottom: var(--field-error-margin-bottom);
}

.FieldError > * {
  flex-shrink: 0;
}

.Icon {
  --exclamation-mark-color: white;
}
